{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/add-attendance.css' %}">
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col m5 card-panel hoverable" id="attendance-form-div">
            <form method="post" id="attendance-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row">
                        <div class="input-field col m12">
                            {{ field.errors }}{{ field }}
                            {{ field.label_tag }}
                        </div>
                    </div>
                {% endfor %}
                <button class="btn waves-effect waves-light blue" type="submit"
                        name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>

        <div class="col m4 offset-m1 student-numbers">


            {% for student in students %}
                <div class="card-panel hoverable">
                    <i class="material-icons left">perm_identity</i>
                    <span class="blue-text">{{ student.student_number }} </span>
                    <span class="grey-text">{{ student.entry_time|time }} </span>
                </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}