{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>

{% endblock %}


{% block content %}
    <div class="row">
        <div class="card-panel hoverable col m8 offset-m2 " id="login-form">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="input-field">
                    {{ form.username.errors }}
                    {{ form.username }}
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                </div>
                <div class="input-field">
                    {{ form.password.errors }}
                    {{ form.password }}
                    <label for="{{ form.password.id_for_label }}">Password:</label>
                </div>
                <div class="input-field" id="room-select">
                    {{ form.room_no.errors }}
                    {{ form.room_no }}
                    <label for="{{ form.room_no.id_for_label }}">Room
                        No.:</label>
                </div>
                <button class="btn waves-effect waves-light blue" type="submit"
                        name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}